 <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" formControlName="username" class="form-control" [ngClass]="{'is-invalid': formControls['username'].invalid && formControls['username'].touched}" />
      <div *ngIf="formControls['username'].invalid && formControls['username'].touched" class="invalid-feedback">
        Username is required.
      </div>
    </div>
  
    <!-- <div class="form-group">
      <label for="dateCreated">Date Created</label>
      <input id="dateCreated" formControlName="dateCreated" class="form-control" [ngClass]="{'is-invalid': formControls.dateCreated.invalid && formControls.dateCreated.touched}" />
      <div *ngIf="formControls.dateCreated.invalid && formControls.dateCreated.touched" class="invalid-feedback">
        Date Created is required.
      </div>
    </div> -->
  
    <div class="form-group">
      <label for="text">Text</label>
      <textarea id="text" formControlName="text" class="form-control" [ngClass]="{'is-invalid': formControls['text'].invalid && formControls['text'].touched}"></textarea>
      <div *ngIf="formControls['text'].invalid && formControls['text'].touched" class="invalid-feedback">
        Text is required.
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="blogForm.invalid">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
  
  </form>